XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY=replace-with-a-unique-32-character-key
XPACK_SECURITY_ENCRYPTIONKEY=replace-with-a-different-32-character-key
XPACK_REPORTING_ENCRYPTIONKEY=replace-with-another-32-character-key